<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Animals</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="/animals/search" method="post">
        <input type="text" id="string" name="string">
        <button type="submit">Enter</button>
    </form>
    <h1 data-th-text="${title}"></h1>
    <table>
        <tr class="attributes">
            <th>ID</th>
            <th>Name</th>
            <th>Scientific Name</th>
            <th>Species</th>
            <th>Habitat</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        <tr data-th-each="animal : ${animalList}">
            <td ><a th:href="(${animal.animalId})" data-th-text="${animal.animalId}"></a></td>
            <td data-th-text="${animal.name}"></td>
            <td data-th-text="${animal.scientificName}"></td>
            <td data-th-text="${animal.species}"></td>
            <td data-th-text="${animal.habitat}"></td>
            <td data-th-text="${animal.description}"></td>
            <td><a th:href="(@{update/} + ${animal.animalId})">Update</a></td>
            <td><a th:href="(@{delete/} + ${animal.animalId})">Delete</a></td>
        </tr>
    </table>
    <a href="/animals/createForm">+Add Animal</a>
</body>
</html>
